<div class="blog-block blog-posts-widget course-list-widget sticky-top">
    <div class="widget-title">
        <h4><a href="{{ BASE_PATH }}/courses/">
            {% assign course = site.courses | where:"tag", page.course  | first %}
            {{ course.title }}
        </a></h4>
    </div>
    <div class="blog-posts-small">
        {% assign filtered_items = site.course_items | where: "course", page.course %}
        {% for post in filtered_items %}
        <div class="blog-post-small">
        <a href="{{ BASE_PATH }}{{ post.url }}" {% if post.id == page.id %} style="font-weight:bold" {% endif %}>{{post.episode}}) {{post.title}}</a>
        </div>
        {% endfor %}
    </div>
</div>