<div class="blog-block blog-posts-widget sticky-top">
    <div class="widget-title">
        <h4>{{page.course }}</h4>
    </div>
    <div class="blog-posts-small">
        {% assign filtered_items = site.course_items | where: "course", page.course %}
        {% for post in filtered_items %}
        <div class="blog-post-small">
        <a href="{{ BASE_PATH }}{{ post.url }}" {% if post.id == page.id %} style="font-weight:bold" {% endif %}>{{post.episode}}) {{post.title}}</a>
        </div>
        {% endfor %}
    </div>
</div>