<div class="blog-block about-sidebar-widget">
    <img src="{{ BASE_PATH }}/assets/images/{{ site.author.image }}">
    <h4><a href="{{ site.author.site }}">{{ site.author.name }}</a></h4>
    <p>{{ site.author.description }}</p>
    {% include social-block.html %}
  </div>

<div class="mb-60"></div>

<div class="blog-block categories-sidebar-widget">
    <h4>More Free Resources</h4>
    {% for category in site.categories %}
        {% unless page.categories contains category[0] %}
    <div class="post-category">
        <a href="{{BASE_PATH}}/blog/{{category[0]}}">{{category[0]}}<span class="float-right">({{category[1].size}})</span></a>
    </div>
        {% endunless %}
    {% endfor %}
</div>

<div class="mb-60"></div>

<div class="blog-block blog-posts-widget sticky-top">
{% if page.series_number > 0 %}
    <div class="widget-title">
        <h4>In This Series</h4>
    </div>
    <div class="blog-posts-small">
        {% for post in site.categories[page.series] %}
        <div class="blog-post-small first-post">
        <a href="{{ BASE_PATH }}{{ post.url }}" {% if post.id == page.id %} style="font-weight:bold" {% endif %}>{{post.series_number}}) {{post.title}}</a>
        </div>
        {% endfor %}
    </div>
{% else %}
    <div class="widget-title">
        <h4>Related Posts</h4>
    </div>
    <div class="blog-posts-small">
    {% for post in site.related_posts %}
        <div class="blog-post-small first-post">
        <a href="{{ BASE_PATH }}{{ post.url }}">{{post.title}}</a>
        </div>
        {% endfor %}
    </div>
{% endif %}
</div>