.owl-carousel .owl-nav button {
  height: 50px;
  width: 50px;
  background-color: $primary  !important;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50% !important;
}

.owl-carousel .owl-prev {
  left: 100px;
}
.owl-carousel .owl-next {
  right: 100px;
}
