$primary: #0288D1;
$primary-light: #fff;
$primary-dark: #0D47A1; 

$background: #263238;
$background-light: #ECEFF1;

$text-default: #444;
$post-header-default: #fff;


$success: #87c056;
$info: #4da5e2;
$warning: #fc6;
$danger: #ec7160;