---
layout: blog
title: Blog
---
{% include JB/setup %}


{% for category in site.categories[page.tag] %}
<div class="blog-block post-content-area">
  <div class="row">
    <div class="col-md-6 col-sm-12 p-0 blog-image-wrap">
      <div class="blog-image">
        <img src="{{ BASE_PATH }}/assets/images/{{ category.img }}" alt="{{ category.title }} image">
      </div>
    </div>    
    <div class="col-md-6 col-sm-12 p-0">
      <div class="d-flex align-items-center">
        <div class="blog-post">
          <h3><a href="{{ BASE_PATH }}{{ course_item.url }}">{{ category.title }}</a></h3>
          <p>{{ category.excerpt }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mb-60"></div>
{% endfor %}
