---
layout: blog
---
{% include JB/setup %}

{% assign filtered_items = site.course_items | where: "course", page.tag %}
{% for course_item in filtered_items %}
<div class="blog-block post-content-area">
  <div class="row">
    <div class="col-md-6 col-sm-12 p-0 blog-image-wrap">
      <div class="blog-image">
        <img src="{{ BASE_PATH }}/assets/images/{{ course_item.img }}" alt="{{ course_item.title }} image">
      </div>
    </div>    
    <div class="col-md-6 col-sm-12 p-0">
      <div class="d-flex align-items-center">
        <div class="blog-post">
          <h3><a href="{{ BASE_PATH }}{{ course_item.url }}">{{ course_item.title }}</a></h3>
          <p>{{ course_item.excerpt }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mb-60"></div>
{% endfor %}
